body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.main_box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.background_image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/library.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}